
.grid-stack {
    background: lightgoldenrodyellow;

}

.grid-stack-item-content {
    color: #2c3e50;
    text-align: center;
    background-color: #18bc9c;
}
.container {

}


.box {
    border: 3px solid #666;
    background-color: #ddd;
    border-radius: .5em;
    padding: 10px;
    cursor: move;
}
.box.over {
    border: 3px dotted #666;
}
